<table id="students-table" class="table font-monospace">
   <thead class="text-center">
      <tr>
         <th scope="col">Rut</th>
         <th scope="col">Nombre</th>
         <th scope="col">Apellido Paterno</th>
         <th scope="col">Apellido Materno</th>
         <th scope="col">Código Curso</th>
         <th scope="col">Descripción Curso</th>
      </tr>
   </thead>
   <tbody class="table-group-divider"></tbody>
</table>